
.icon-attention:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-execute:before { content: '\e802'; } /* '' */
.icon-return:before { content: '\e803'; } /* '' */
.icon-spinner:before { content: '\e804'; } /* '' */
.icon-link-ext:before { content: '\e805'; } /* '' */
.icon-info:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\e807'; } /* '' */