<h2>About Groovy Playground</h2>
<p>
This is a simple editor, where you can play around with Groovy. Just enter some Groovy
script in the editor and press Execute (or Control + Enter).
</p>
<p>
On the right panel you will see the output of the script and its return value. You can hover over
the output to highlight the lines in the editor, that generated that output. This only works as long
as you don't edit the output after execution.
</p>
<p>
Each time you execute your code it will be saved automatically and will be restored when you return to this page.
</p>
<h4>Known issues</h4>
<ul>
	<li><code>System.out</code> and <code>System.err</code> are not working (only <code>print/ln</code>)</li>
	<li><code>println</code> is only working in the root of the script (and not if you use it inside a class)</li>
</ul>
<p>
You can find the list of all open issues on the
<a href="https://github.com/timroes/groovyplayground" target="_blank">GitHub Page</a>.
</p>