<!DOCTYPE html>
<html ng-app="gp">
<head>
	<title>Groovy Playground</title>
	<link href="app.min.css" rel="stylesheet">
	<link href="libs/ngDialog/ngDialog.min.css" rel="stylesheet">
	<link href="libs/ngDialog/ngDialog-theme-default.min.css" rel="stylesheet">
	<link href="assets/icons/css/fontello.css" rel="stylesheet">
	<link href="assets/icons/css/animation.css" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Roboto:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/assets/manifest.json">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">
	<meta name="msapplication-config" content="/assets/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body ng-controller="EditorController" ng-cloak>
	<header>
		<h1 class="page-title">Groovy Playground</h1>
		<a class="author-link" href="https://www.timroes.de" target="_blank">by Tim Roes</a>
		<a href="https://github.com/timroes/groovyplayground" target="_blank" title="GitHub Page" class="github-link"><i class="icon-github-circled"></i></a>
	</header>

	<main>
		<div class="ui-ace" ui-ace="{
  showPrintMargin: false,
  showGutter: true,
  theme:'chrome',
  mode: 'groovy',
  onLoad: aceLoaded
}" ng-model="source"></div>
		<div class="output">
			<div class="output__header">
				<h2 class="output__title">Output of Script</h2>
					<div class="output__meta">
					<i class="icon-spinner animate-spin" ng-show="isLoading"></i>
					<div title="Execution time" class="output__time" ng-show="!isLoading && result.executionTime">
						<i class="icon-clock"></i>
						{{ result.executionTime }} ms
					</div>
				</div>
			</div>

			<div class="output__error" ng-show="error" ng-switch="error">
				<i class="icon-attention error-icon"></i>
				<div ng-switch-when="DEADLINE_EXCEEDED">Your script took too long to execute, so execution got interrupted.</div>
				<div ng-switch-when="UNKNOWN">An unknown error occurred.</div>
			</div>
			<div class="output__content" ng-class="{ 'output__content--interactive': interactiveOutput }">
				<div class="output__line" ng-repeat="line in output">
					<div class="output__item" ng-class="{ 'output__item--error': out.type === 'COMPILATION_ERROR' || out.type === 'EXCEPTION', 'output__item--linebreak': out.lineBreak }" ng-repeat="out in line"
						ng-mouseover="highlightLine(out.line - 1)" ng-mouseleave="highlightLine()">
						<i class="icon-attention" ng-if="out.type != 'PRINT'"></i>
						<div class="output__message" ng-bind="out.message"></div>
					</div>
				</div>
			</div>
			<div class="return" ng-show="result.returnValue" title="Return value of script">
				<i class="icon-return"></i>
				<span class="return__value" ng-bind="result.returnValue"></span>
				<span class="return__type" ng-bind="result.returnType"></span>
			</div>
		</div>
	</main>

	<footer>
		<button class="execute-button" ng-click="evaluate()" click-hotkey="ctrl+enter" title="Evaluate Script (Ctrl + Enter)">
			<i class="icon-execute"></i> Execute
		</button>

		<button class="info-btn" ng-click="showInfo()"><i class="icon-info"></i> information</button>
	</footer>

	<script src="libs/ace-builds-1.1.8/src-min-noconflict/ace.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/angular-animate.min.js"></script>
	<script src="libs/ngDialog/ngDialog.min.js"></script>
	<script src="libs/angular-local-storage.min.js"></script>
	<script src="libs/ui-ace.min.js"></script>
	<script src="app.min.js"></script>
	<script src="templates.min.js"></script>
</body>
</html>